<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>martialtitle</key>
		<string>青云门</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>林惊羽</string>
				<key>intro</key>
				<string>青云山下普通少年，资质过人，与张小凡乃是儿时玩伴，共同经历屠村惨祸，被青云门收入，拜在龙首峰苍松道人座下。青云之战过后，巧遇隐居在青云门祖师祠堂里的神秘老人(万剑一)，十年学艺。重情重义，对小凡不离不弃。在误以为鬼厉杀死万剑一后，与鬼厉，也就是张小凡决裂。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>道玄真人</string>
				<key>intro</key>
				<string>青云门掌门人，同时也是青云七脉中的长门通天峰一脉的首座。道法通玄，深不可测，为天下正道领袖，为拯救天下苍生不惜两用诛仙古剑，导致后来被诛仙的戾气迷惑心智，死于幻月洞中。</string>
				<key>icon</key>
				<string>daoxuanzhenren.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>万剑一</string>
				<key>intro</key>
				<string>曾惨败魔教，由于一件不为人知的往事被杀，后隐居在青云门祖师祠堂之中（所有的人，除了道玄，都以为万剑一已死），道行高深，法宝为“斩龙剑”。与道玄真人为师兄弟。传授林惊羽武艺。后被鬼先生杀死，林惊羽误以为是被张小凡所杀，致使张小凡与林惊羽决裂。</string>
				<key>icon</key>
				<string>wanjianyi.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苍松道人</string>
				<key>intro</key>
				<string>青云门龙首峰首座，掌管青云门刑罚，威势极重。因为怀恨当年道玄真人与万剑一争斗，在关键的青云之战中反出青云，投靠魔教，后被鬼王杀死。</string>
				<key>icon</key>
				<string>cangsongdaoren.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>田不易</string>
				<key>intro</key>
				<string>青云门大竹峰首座，矮胖之人，道法高深，外表严厉，内里护短。后因道玄真人被诛仙反噬而劝说道玄，在斗法中重伤，后来被天琊剑刺死（陆雪琪为保护张小凡同时也是田不易用被控制的间隙用眼神请求她。）</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苏茹</string>
				<key>intro</key>
				<string>田不易妻子，端庄美丽，外柔内刚，深得大竹峰弟子敬慕 ，后为田不易殉情。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>曾叔常</string>
				<key>intro</key>
				<string>青云门风回峰首座，曾书书之父。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>商正梁</string>
				<key>intro</key>
				<string>青云门朝阳峰首座，在魔教突击青云山一役中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天云道人</string>
				<key>intro</key>
				<string>青云门落霞峰首座，在魔教突击青云山一役中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>水月大师</string>
				<key>intro</key>
				<string>青云门小竹峰首座，是陆雪琪与文敏之师。性情冷峻，不苟言笑，对师妹苏茹嫁与田不易十分不满，连带着看大竹峰众人都不顺眼。年轻时暗恋万剑一。在魔道的第二次进攻中为保护陆雪琪而死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>大竹峰</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>田灵儿</string>
				<key>intro</key>
				<string>田不易与苏茹的独生女儿，聪颖无比，资质过人，与张小凡从小一起长大，是张小凡幼时暗恋的人。将张小凡当成弟弟一般爱护，最后嫁于齐昊。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宋大仁</string>
				<key>intro</key>
				<string>大竹峰门下大弟子，也是把张小凡救回青云山的人，武器为大剑十虎。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吴大义</string>
				<key>intro</key>
				<string>大竹峰门下二弟子。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>郑大礼</string>
				<key>intro</key>
				<string>大竹峰门下三弟子。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>何大智</string>
				<key>intro</key>
				<string>大竹峰门下四弟子。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吕大信</string>
				<key>intro</key>
				<string>大竹峰门下五弟子。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>杜必书</string>
				<key>intro</key>
				<string>大竹峰门下六弟子，原名杜大书，因师母苏茹不满其赌博的嗜好，改名杜必书(赌必输)。张小凡来之前掌管厨房事务，性子活泼，特别好赌，将法宝都暗自修炼成了骰子。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>通天峰</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>萧逸才</string>
				<key>intro</key>
				<string>青云门掌门道玄真人的得意弟子，城府深道行高，与苍松道人隐有不和。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>段雷</string>
				<key>intro</key>
				<string>青云门通天峰弟子，在七脉会武中败于陆雪琪，是通天峰颇有实力的几个弟子之一。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>龙首峰</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>齐昊</string>
				<key>intro</key>
				<string>龙首峰首座苍松道人的得意弟子，道行深厚，为青云门年轻一代翘楚。苍松道人叛变后，被推举为龙首峰首座。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>朝阳峰</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>楚誉宏</string>
				<key>intro</key>
				<string>青云门朝阳峰弟子，在七脉会武中败于张小凡，后继任朝阳峰首座。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>方超</string>
				<key>intro</key>
				<string>青云门朝阳峰弟子，在七脉会武中败于陆雪琪，是朝阳峰颇有实力的几个弟子之一。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>风回峰</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>曾书书</string>
				<key>intro</key>
				<string>青云门风回峰首座曾叔常独子，在七脉会武中与张小凡因为三眼灵猴而相识，结为好友。对小凡始终不离不弃。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>小竹峰</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>文敏</string>
				<key>intro</key>
				<string>青云门小竹峰一脉水月大师弟子，与大竹峰宋大仁乃是旧相识，被其暗中倾慕,后嫁给青云门大竹山门下大弟子宋大仁。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>天音寺</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>普泓</string>
				<key>intro</key>
				<string>正道三大巨派之天音寺主持，天音寺四大神僧之一。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>普德</string>
				<key>intro</key>
				<string>天音寺四大神僧之一，把&quot;乾坤轮回盘&quot;(星盘)借给鬼厉。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>普智</string>
				<key>intro</key>
				<string>天音寺四大神僧之一，心怀大智，欲参破长生之迷。在联合佛道二家的努力失败后，来到青云山下草庙村，遇见了张小凡和林惊羽，掀开了一个乱世的序幕。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>普空</string>
				<key>intro</key>
				<string>天音寺四大神僧之一。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>法相</string>
				<key>intro</key>
				<string>天音寺弟子，道行高深，与张小凡等人同入万蝠古窟，似乎对张小凡另眼相看。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>法善</string>
				<key>intro</key>
				<string>天音寺弟子，相貌粗豪，与张小凡等人同入万蝠古窟。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>焚香谷</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>云易岚</string>
				<key>intro</key>
				<string>焚香谷谷主，许久不曾露面的神秘人物。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>上官策</string>
				<key>intro</key>
				<string>焚香谷长老，看守玄火坛，道行深不可测，在焚香谷中有崇高地位。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吕顺</string>
				<key>intro</key>
				<string>焚香谷长老，外出与鱼人蛮族接触时被鬼厉与金瓶儿发现，对上官策心怀不满。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>李洵</string>
				<key>intro</key>
				<string>焚香谷弟子，英俊骄傲，与张小凡等人同入万蝠古窟而相识。暗恋陆雪琪，求婚却被陆雪琪拒绝。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>燕虹</string>
				<key>intro</key>
				<string>焚香谷弟子，细心沉静，与张小凡等人同入万蝠古窟。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>魔教</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>鬼王</string>
				<key>intro</key>
				<string>神秘莫测的魔教鬼王宗宗主，道行深不可测，雄才大略，心机深沉，为碧瑶之父，自称万人往。气质非凡，欲统一魔教。后被鬼厉杀死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>毒神</string>
				<key>intro</key>
				<string>魔教四大派阀之一万毒门宗主。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玉阳子</string>
				<key>intro</key>
				<string>魔教四大派阀之一长生堂宗主法宝为“阴阳镜”，后被其他三大派灭派，自己也被鬼厉，秦无炎及金瓶儿三人联手杀死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三妙夫人</string>
				<key>intro</key>
				<string>魔教四大派阀之一合欢派宗主。毒蛇谷一战中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>青龙</string>
				<key>intro</key>
				<string>魔教鬼王宗上代四大圣使之首，神秘复出，深得鬼王器重，身怀异宝&quot;乾坤清光戒&quot;，道行高深。后于南疆失踪。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>幽姬</string>
				<key>intro</key>
				<string>魔教鬼王宗上代四大圣使之&quot;朱雀&quot;，自小看着碧瑶长大，对其非常疼爱。在上一代正魔恩怨之中，她与正道不世出的奇才万剑一有若隐若现的关系。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鬼医</string>
				<key>intro</key>
				<string>魔教鬼王宗里的神秘人物，一向隐身不露面，跟在鬼王身边，来历神秘莫测，并暗中主持诡异之极的&quot;四灵血阵&quot;。后被修罗之力杀死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>秦无炎</string>
				<key>intro</key>
				<string>毒神关门弟子，年轻而神秘，魔教三公子之“毒公子”。为人心狠手辣。后于毒蛇谷一战中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金瓶儿</string>
				<key>intro</key>
				<string>魔教合欢派出色的年轻女子，魔教三公子之&quot;妙公子&quot;，外表柔媚妖艳，辣手无情，心机颇深，后与周一仙、小环、野狗道人浪迹天涯。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>周隐</string>
				<key>intro</key>
				<string>出身于长生堂，有魔教奇珍&quot;离人锥&quot;，擅长暗算，人称刺客。在突击青云一役中遭到万剑一的猛攻战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>吸血老妖</string>
				<key>intro</key>
				<string>魔教万毒门高手，与张小凡因为杀徒之恨而结怨。后于毒蛇谷一战中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>百毒子</string>
				<key>intro</key>
				<string>魔教万毒门高手。后于毒蛇谷一战中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>端木老祖</string>
				<key>intro</key>
				<string>魔教高手，与吸血老妖交好。后于毒蛇谷一战中战死。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黑心老人</string>
				<key>intro</key>
				<string>800年前，一统邪教的伟大人物。为枯心上人所杀。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>野狗道人</string>
				<key>intro</key>
				<string>魔教炼血堂门下，样子古怪，如狗一般，与张小凡在万蝠古窟中相斗，欺软怕硬，恃强凌弱。十年之后，炼血堂将毁，他却意外的坚持，最终被化身鬼厉触动心怀，留下炼血堂一线生机。从此或跟在鬼厉身边，或与周一仙等人浪迹天涯，艰难走着世上道路。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>年老大</string>
				<key>intro</key>
				<string>魔教炼血堂头目，用奇怪法宝赤魔眼。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>刘镐</string>
				<key>intro</key>
				<string>魔教炼血堂门下。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>林峰</string>
				<key>intro</key>
				<string>被年老大等人邀来助拳的邪派高手。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>其他</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>周一仙</string>
				<key>intro</key>
				<string>浪迹人间的江湖相士，外表鹤骨仙风却酷爱钱财，整日行骗，但见识却非同小可。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石头</string>
				<key>intro</key>
				<string>出自「金刚门」大力尊者门下，与佛门天音寺有些渊源，性子粗豪耿直，手持法宝&apos;破煞&apos;。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小环</string>
				<key>intro</key>
				<string> 周一仙的孙女，与爷爷一起浪迹天涯，小小年纪就在相术之上拥有惊人天赋，并与金瓶儿交好，而且特别爱吃冰糖葫芦，鬼先生传其鬼道之术。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小白</string>
				<key>intro</key>
				<string>九尾天狐，修炼千年的绝世妖物，在焚香谷玄火坛中被镇压三百年，被鬼厉以玄火鉴救出，化身女子，柔媚入骨，颠倒众生。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>兽神</string>
				<key>intro</key>
				<string>一个火红而妖异的少年，一个万兽之神，千万年的修炼只为一个女子——玲珑，抛弃不死之身只为了和心爱的人长相厮守，兽神的眼里心里只有玲珑，只要有玲珑在，粉骨碎身，在所不辞。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>南疆</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>大巫师</string>
				<key>intro</key>
				<string>南疆苗族祭坛里神秘老人，拥有神秘法力，在苗族中有着崇高地位。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>图麻骨</string>
				<key>intro</key>
				<string>南疆苗族族长，帮助鬼厉等人引见大巫师。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玲珑</string>
				<key>intro</key>
				<string>南疆最强大的一代巫女。制造出了兽神，后为百姓镇压兽神，化成石像立于古洞门口。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凶灵</string>
				<key>intro</key>
				<string>当年随玲珑进入十万大山消灭兽神的七壮士之一，后化身为凶灵，守护玲珑及镇魔古洞。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黑巫</string>
				<key>intro</key>
				<string>当年随玲珑进入十万大山消灭兽神的七壮士之一，凶灵的弟弟。后为兽神集齐五族神器，使兽神复活。 </string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>martialtitle</key>
		<string>合欢派</string>
		<key>disciples</key>
		<array>
			<dict>
				<key>name</key>
				<string>魔教金铃夫人</string>
				<key>intro</key>
				<string>聪慧绝顶，道行精深，对魔教经典天书更是有大悟於心，三百年前独自在魔教创下了‘合欢派’一系，如今与鬼王宗同为魔教中鼎盛门派。合欢派法术大多迅速快捷，诡异多端。她们经常会先削弱敌人、以法术魅人心神，擅长在无形之中取人性命。手持环刃，动作优美好像舞蹈一样，你甚至感觉不到危险已经到达身边。</string>
				<key>icon</key>
				<string>linjingyu.jpg</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
